{:itonami.blueprint/id "cloud-itonami-iso3166-usa-va"
 :itonami.blueprint/name "Independent VA Veterans-Procurement Compliance Service — United States"
 :itonami.blueprint/iso3166 "USA-VA"
 :itonami.blueprint/iso3166-parent "USA"
 :itonami.blueprint/ooyake-id "gov.usa.va"
 :itonami.blueprint/domain :public-sector/agency-compliance
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:public-spend-transparency :sme-market-access :cross-border-friction-reduction]
 :itonami.blueprint/governor :market-entry-compliance-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss}
